NODE_ENV=development # development | testing | production
CREATE_DEFAULT_ADMIN=true # true | false
DB_URL=your_database_connection_string_here
TEST_DB_URL=your_database_connection_string_here
FRONTEND_URL=your_frontend_url_here
